body {
    font-family: 'Fira Sans', sans-serif;
    color: #8d8d8d;
    font-size: 18px;
}

button {
    display: block;
    border: none;
    background: transparent;
}

.vh-dependent {
    height: 50vh;
    display: flex;
    align-items: center;
}

.be-static {
    position: static;
}

h1, h2, h3, h4, h5 h6 {
    font-style: normal;
    font-weight: 700;
    color: #151515;
    margin: 0;
    padding: 0;
}

.btn {
    background: #3726F2;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    padding: 13px 26px;
    display: inline;
    border-radius: 0;
    letter-spacing: .3em;
    text-align: center;
    transition: all .5s ease;
}

.btn:hover {
    background: #200fd6;
    color: #FFFFFF;
}

.header {
    height: 140vh;
}

.nav {
    padding-top: 59px;
    margin-bottom: 127px;
}

.logo {

}

.search {
}

.menu {
}

.offer-cont__title {
    font-size: 60px;
    letter-spacing: -.01em;
    line-height: 1.1em;
}

.offer-cont__text {
    margin: 30px 0 56px;
    padding-left: 0;
    padding-right: 20px;
    line-height: 28px;
    font-size: 18px;
}

.offer-cont_btn {

}

.hero {
    background: url("../img/img1.jpg") no-repeat right top;
    background-size: 100% 100%;
    width: 49%;
    height: 120vh;
    position: absolute;
    right: 0;
    top: 142px;
}

.video {
    position: absolute;
    left: -110px;
    bottom: 20%;
    width: 57%;
    height: 37%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/video.jpg") no-repeat center center;
}

.video:after {
    content: '';
    display: block;
    background: url("../img/play.svg");
    width: 65px;
    height: 65px;
}

/*Second page*/

.problems {
    padding-top: 137px;
}

.about {

}

.about__title {
    font-size: 38px;
    margin-bottom: 30px;
}

.about__text {

}

.about__author {
    background: url("../img/author.jpg") no-repeat left center;
    padding: 7px 0 7px 96px;
    margin-top: 61px;
}

.about__name {
    font-size: 22px;
}

.about__prof {
    margin-bottom: 0;
}






















































































